<a href="https://colab.research.google.com/github/DanteRobert1/Optativa_Liz_Uaa/blob/main/Limpiar_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NumPy: Libreria Funda,mental paraq Computacion Cientifica de Python **

In [2]:
import pandas as pd
import numpy as np

Crar un DataFrame con datos sucios

In [3]:
df = pd.DataFrame({
    'A': [1,2, np.nan, 4, 5],
    'B': [5,6,7, np.nan, 9],
    'C': ['a', 'b', 'c', 'd', 'e'],
    'D': ['foor', 'bar', 'foo', 'bar', 'foo']
})
print("DataFrame orignal")
print(df)

DataFrame orignal
     A    B  C     D
0  1.0  5.0  a  foor
1  2.0  6.0  b   bar
2  NaN  7.0  c   foo
3  4.0  NaN  d   bar
4  5.0  9.0  e   foo

Eliminar valores nules

In [4]:
df_clean = df.dropna()
print("\nDataFrame sin filas nulas")
print(df_clean)

DataFrame sin filas nulas
     A    B  C     D
0  1.0  5.0  a  foor
1  2.0  6.0  b   bar
4  5.0  9.0  e   foo

Rellenar Valores Nulos

In [5]:
df_filled = df.fillna(value={'A': df['A'].mean(), 'B': df['B'].median()})
print("\nDataFrame con valores nulos rellenados")
print(df_filled)

DataFrame con valores nulos rellenados
     A    B  C     D
0  1.0  5.0  a  foor
1  2.0  6.0  b   bar
2  3.0  7.0  c   foo
3  4.0  6.5  d   bar
4  5.0  9.0  e   foo

Eliminar duplicado

In [6]:
df_no_duplicates = df.drop_duplicates(subset='D')
print("\nDataFrame sin duplicados en la columna D")
print(df_no_duplicates)

DataFrame sin duplicados en la columna D
     A    B  C     D
0  1.0  5.0  a  foor
1  2.0  6.0  b   bar
2  NaN  7.0  c   foo

Renombrar Columnas

In [7]:
df_renamed = df.rename(columns={'A': 'Alpha', 'B': 'Beta'
                                , 'C': 'Gamma', 'D': 'Delta'
})
print("\nDataFrame con columnas renombradas")
print(df_renamed)

DataFrame con columnas renombradas
   Alpha  Beta Gamma Delta
0    1.0   5.0     a  foor
1    2.0   6.0     b   bar
2    NaN   7.0     c   foo
3    4.0   NaN     d   bar
4    5.0   9.0     e   foo