<a href="https://colab.research.google.com/github/DanteRobert1/Optativa_Liz_Uaa/blob/main/Operaciones_Basicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'Nombre':['Ana','Juan','Maria','Carlos','Sofia'],
    'Edad':[25,30,22,28,35],
    'Ciudad':['Madrid','Barcelona','Madrid','Valencia','Barcelona'],
    'Puntuacion':[85,92,78,95,88]
})

print("DataFrame Original")
print(df)

DataFrame Original
   Nombre  Edad     Ciudad  Puntuacion
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   Maria    22     Madrid          78
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

Filtrado

In [3]:
mayores_25 = df[df['Edad'] > 25]
print("\nPersonas con edad mayor a 25")
print(mayores_25)

Personas con edad mayor a 25
   Nombre  Edad     Ciudad  Puntuacion
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

Agrupacion y Agregacion

In [4]:
resultado = df[df['Edad'] > 25]. groupby('Ciudad')['Puntuacion'].max()
print("\nCiudad con mayor puntaje de personas con edad mayor a 25")
print(resultado)

Ciudad con mayor puntaje de personas con edad mayor a 25
Ciudad
Barcelona    92
Valencia     95
Name: Puntuacion, dtype: int64