<a href="https://colab.research.google.com/github/DanteRobert1/Optativa_Liz_Uaa/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

Dos Datas Frames

In [5]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Juan', 'Maria', 'Carlos'],
    'Departamento': ['Ventas', 'IT', 'Marketing','RH'],
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Salario': [50000, 60000,55000,65000],
})

print("\nDataFrame1",df1)
print("\nDataFrame1",df2)

DataFrame1    ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH

DataFrame1    ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

Fusion Inner

In [6]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner')
print("\nFusion Inner")
print(inner_merge)

Fusion Inner
   ID  Nombre Departamento  Salario
0   3   Maria    Marketing    50000
1   4  Carlos           RH    60000

Fusion Outer

In [7]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')
print("\nFusion Outer")
print(outer_merge)

Fusion Outer
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing  50000.0
3   4  Carlos           RH  60000.0
4   5     NaN          NaN  55000.0
5   6     NaN          NaN  65000.0

Fusion Left

In [10]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print("\nFusion Left")
print(left_merge)

Fusion Left
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   Maria    Marketing  50000.0
3   4  Carlos           RH  60000.0

Fusion Right

In [11]:
right_merge = pd.merge(df1, df2, on='ID', how='right')
print("\nFusion Right")
print(right_merge)

Fusion Right
   ID  Nombre Departamento  Salario
0   3   Maria    Marketing    50000
1   4  Carlos           RH    60000
2   5     NaN          NaN    55000
3   6     NaN          NaN    65000

Concatenacion

In [12]:
df3 = pd.DataFrame({
    'ID': [7,8],
    'Nombre': ['Sofia', 'Pedro'],
    'Departamento': ['Finanzas', 'Ventas'],
})
concatenated_df = pd.concat([df1, df3])
print("\nConcatenacion de DataFrames")
print(concatenated_df)

Concatenacion de DataFrames
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   Maria    Marketing
3   4  Carlos           RH
0   7   Sofia     Finanzas
1   8   Pedro       Ventas