<a href="https://colab.research.google.com/github/DanteRobert1/Optativa_Liz_Uaa/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1

In [3]:
import pandas as pd
import numpy as np

#Creawr una serie
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Series: ")
print(s)


df = pd.DataFrame({
    'A': [1,2,3,4],
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})

print("DataFrame: ")
print(df)

Series:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DataFrame:
   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  2 2013-01-02  1.0  3  train  foo
2  3 2013-01-02  1.0  3   test  foo
3  4 2013-01-02  1.0  3  train  foo